{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>삼성 능력자들</title>
  <!-- 합쳐지고 최소화된 최신 CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
</head>
<body style="background: url('{% static 'img/background.png'%}')">

  <div class="row">
    <div style="margin-top:100px;">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        {% block content %}
        {% endblock %}
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>

</body>
</html>
